body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
    font-family: Arial, sans-serif;
}

.header .logo {
    font-weight: bold;
    font-size: 1.5em;
}

.header .date {
    font-size: 1em;
    color: #555;
}

.header .auth-buttons a {
    margin-left: 1em;
    text-decoration: none;
}

.header .auth-buttons .btn {
    padding: 0.5em 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.2s;
}

.header .auth-buttons .btn:hover {
    background-color: #0056b3;
}

.example-wrapper {
    margin: 2em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.form-wrapper {
    max-width: 400px;
    margin: 100px auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-wrapper .form-group {
    margin-bottom: 1.5em;
}

.form-wrapper .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.form-wrapper .form-group input {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-wrapper .form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.form-wrapper button {
    width: 100%;
    padding: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-wrapper button:hover {
    background-color: #0056b3;
}

.form-table {
    width: 100%;
    table-layout: fixed;
}

.form-column {
    width: 70%;
}


.image-column {
    width: 30%;
    text-align: center;
}

.profile-photo-box {
    width: 250px;
    height: 250px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-left: 20px;
}

.profile-photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.info-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.info-box {
    border: 2px solid #007bff; /* Bordure bleue */
    border-radius: 10px;
    padding: 1em;
    background-color: #f9f9f9;
    width: 100%;               
    max-width: 100%;           
    min-height: 40px;        
    box-sizing: border-box;    
    word-wrap: break-word;    
}


