{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block body %}
<div class="header">
    <a class="logo" href="http://127.0.0.1:8000/accueil">RÉSEAU IIA</a>
</div>

<div class="example-wrapper form-wrapper">
    <h2 class="form-titles">Bonjour {{ username }} !</h2>
        <h2>Mettre à jour ma photo de profil</h2>

        <form method="POST" action="#" enctype="multipart/form-data">
            <div class="form-group">
                <label for="photo">Choisir une photo</label>
                <input type="file" id="photo" name="photo" accept="image/*" required>
            </div>
            <button type="submit">Enregistrer</button>
        </form>
</div>
{% endblock %}
