{% extends 'base.html.twig' %}

{% block title %}Ma Page{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block body %}
<div class="blue-box">
    <p>2010-03-31 19h12 pseudo53</p>
    <p>2010-03-31 11h50 pseudo53</p>
    <p>2010-03-30 23h05 iia_member</p>
    <p>2010-03-30 20h33 fille75</p>
    <p>2010-03-30 18h41 membre2</p>
</div>
{% endblock %}
