{% extends 'base.html.twig' %}

{% block title %}Ma Page{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block body %}
<div class="blue-box">
    <h2>Zone d’écriture</h2>
    <p>Tu peux écrire ce que tu veux ici.</p>
    <p>Par exemple : 31/03/2010 10h05 – Je suis en Cours de PHP & MySQL</p>
</div>
{% endblock %}
